@model OSS.Models.tblDefineFeesMst

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblDefineFeesMst</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SchoolID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SchoolID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalFees)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalFees)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeleteBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeleteBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeleteDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeleteDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblClassMst.ClassName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblClassMst.ClassName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblSection.SectionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblSection.SectionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblStage.StageName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblStage.StageName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DefineFeesID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
