@model OSS.Models.viewmodel.FeesReceiveCreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var studentList = (List<OSS.Models.viewmodel.FeesReceiveStudentViewModel>)ViewBag.StudentList;
    var studentId = int.Parse(ViewBag.StudentId.ToString());
}
@if (studentId > 0)
{
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix demo-icon-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            @using (Html.BeginForm("SubmitFees", "FeesReceive", FormMethod.Post, new { @id = "feesReceiveForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)
                                    <div class="row body clearfix">
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="studentList" class="form-control" onchange="getStudentDetails()">
                                                        @foreach (var item in studentList)
                                                        {
                                                            if (item.StudentId == studentId)
                                                            {
                                                                <option selected="selected" value="@item.StudentId">@item.StudentName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.StudentId">@item.StudentName</option>
                                                            }
                                                        }
                                                    </select>
                                                    <label class="form-label">Students : </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input class="form-control datepicker" value="@Model.PostDate" id="postDate" name="postDate" />
                                                    <label class="form-label">Post Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="fatherName" value="@Model.FatherName" name="fatherName" />
                                                    <label class="form-label">Father Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="stageName" value="@Model.StageName" name="stageName" />
                                                    <label class="form-label">Stage</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="className" value="@Model.ClassName" name="className" />
                                                    <label class="form-label">Class</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="sectionName" value="@Model.SectionName" name="sectionName" />
                                                    <label class="form-label">Section</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-12">
                                            <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Fees Month</th>
                                                        <th>Fees Type</th>
                                                        <th>Fees Amount</th>
                                                        <th>Discount Name</th>
                                                        <th>Discount Amount</th>
                                                        <th>Net Fees</th>
                                                        <th>Received Amount</th>
                                                        <th>Adjustment Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.FeesDetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input style="position: inherit;opacity: 1;" type="checkbox" id="chkId-@item.GenerateFeesId" name="chkName-@item.GenerateFeesId" />
                                                            </td>
                                                            <td>
                                                                @item.FeesMonth
                                                            </td>
                                                            <td>@item.FeesTypeName</td>
                                                            <td>@item.FeesAmount</td>
                                                            <td>@item.DiscountName</td>
                                                            <td>@item.DiscountAmount</td>
                                                            <td>@item.NetFees</td>
                                                            <td>@item.ReceivedAmount</td>
                                                            <td>@item.AdjustmentAmount</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
else
{
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix demo-icon-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            @using (Html.BeginForm("SubmitFees", "FeesReceive", FormMethod.Post, new { @id = "feesReceiveForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)
                                    <div class="row body clearfix">
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="studentList" class="form-control" onchange="getStudentDetails()">
                                                        @foreach (var item in studentList)
                                                        {
                                                            <option value="@item.StudentId">@item.StudentName</option>
                                                        }
                                                    </select>
                                                    <label class="form-label">Students : </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input class="form-control datepicker" id="postDate" name="postDate" />
                                                    <label class="form-label">Post Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="fatherName" name="fatherName" />
                                                    <label class="form-label">Father Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="stageName" name="stageName" />
                                                    <label class="form-label">Stage</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="className" name="className" />
                                                    <label class="form-label">Class</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="sectionName" name="sectionName" />
                                                    <label class="form-label">Section</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row body clearfix">
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-info btn-sm waves-effect" onclick="generateFees('defaulter')">Defaulters</button>
                                                <button type="button" class="btn btn-info btn-sm waves-effect" onclick="generateFees('generate')">Generate</button>
                                                <button type="button" class="btn btn-info btn-sm waves-effect">Search Students</button>
                                                <button type="button" class="btn btn-info btn-sm waves-effect" onclick="generateFees('fixed')">Generate Fixed Fees</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-info btn-sm waves-effect">New</button>
                                                <button id="btnsubmit" type="submit" class="btn btn-danger btn-sm waves-effect">Save</button>
                                                <button type="button" class="btn btn-info btn-sm waves-effect">Update</button>
                                                <button type="button" class="btn btn-danger btn-sm waves-effect">Delete</button>

                                            </div>
                                            <input type="hidden" id="selectedStudentsId" name="selectedStudentsId" />
                                            <input type="hidden" id="stage" name="stage" />
                                            <input type="hidden" id="class" name="class" />
                                            <input type="hidden" id="section" name="section" />
                                            <input type="hidden" id="postDatee" name="postDatee" />
                                            <input type="hidden" id="chargeFees" name="chargeFees" />
                                            <input type="hidden" id="feesMonth" name="feesMonth" />
                                        </div>*@
                                    <div class="row body clearfix">
                                        <div class="col-sm-12">
                                            <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Fees Month</th>
                                                        <th>Fees Type</th>
                                                        <th>Fees Amount</th>
                                                        <th>Discount Name</th>
                                                        <th>Discount Amount</th>
                                                        <th>Net Fees</th>
                                                        <th>Received Amount</th>
                                                        <th>Adjustment Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}

<script>
    function getStudentDetails()
    {
        var selectedStudentId = $('#studentList').find(":selected").val();

        $.ajax({
                url: '@Url.Action("GetStudentDetails", "FeesReceive")',
                type: "GET",
                data: {
                    "studentId": selectedStudentId
                },
                success: function (result) {
                    $(bindid).html('');
                    $(bindid).append($('<option value="0">Select All</option>'));
                    $.each(result, function (id, option) {
                        $(bindid).append($('<option></option>').val(option.id).html(option.name));
                    });
                },
            error: function (result) {

                    $("#table tbody").html('');
                    $.each(result, function (id, option) {
                        $('#table tbody').append('<tr><td><input class="checkbox" style="position: inherit;opacity: 1;" type="checkbox" name="' + option.AdmissionId + '" id="' + option.AdmissionId + '" /></td><td>' + option.GRNo + '</td><td>' + option.StudentName + '</td><td>' + option.ClassId + '</td><td>' + option.SectionId + '</td><td>' + option.FeeTypeId + '</td><td>' + option.FeeAmount + '</td><td>' + option.Discount + '</td><td>' + option.DiscountAmount + '</td><td>' + option.EditedDiscount + '</td><td>' + option.NetFees + '</td></tr>');
                    });
                }
            });
    }
</script>