@model OSS.Models.viewmodel.FeesReceiveCreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var studentList = (List<OSS.Models.viewmodel.FeesReceiveStudentViewModel>)ViewBag.StudentList;
    var studentId = int.Parse(ViewBag.StudentId.ToString());
    var feeIdsList = Model.FeesDetails.Select(x => x.GenerateFeesId).ToList();
}
@if (studentId > 0)
{
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix demo-icon-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            @using (Html.BeginForm("SubmitFees", "FeesReceive", FormMethod.Post, new { @id = "feesReceiveForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)
                                    <div class="row body clearfix">
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="studentList" class="form-control" onchange="getStudentDetails()">
                                                        @foreach (var item in studentList)
                                                        {
                                                            if (item.AdmissionId == studentId)
                                                            {
                                                                <option selected="selected" value="@item.AdmissionId">@item.StudentName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.AdmissionId">@item.StudentName</option>
                                                            }
                                                        }
                                                    </select>
                                                    <label class="form-label">Students : </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input class="form-control datepicker" value="@Model.PostDate" id="postDate" name="postDate" />
                                                    <label class="form-label">Post Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="fatherName" value="@Model.FatherName" name="fatherName" />
                                                    <label class="form-label">Father Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="stageName" value="@Model.StageName" name="stageName" />
                                                    <label class="form-label">Stage</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="className" value="@Model.ClassName" name="className" />
                                                    <label class="form-label">Class</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="sectionName" value="@Model.SectionName" name="sectionName" />
                                                    <label class="form-label">Section</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="postDate" id="postDate" value="@Model.PostDate" />
                                        <input type="hidden" name="sectionId" id="sectionId" value="@Model.SectionId" />
                                        <input type="hidden" name="classId" id="classId" value="@Model.ClassId" />
                                        <input type="hidden" name="stageId" id="stageId" value="@Model.StageId" />
                                        <input type="hidden" name="name" id="name" value="@Model.StudentName" />
                                        <input type="hidden" name="fname" id="fname" value="@Model.FatherName" />
                                        <input type="hidden" name="selectedFees" id="selectedFees" value="@string.Join(",",feeIdsList)" />
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-12">
                                            <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th><input checked="checked" class="checkbox" style="position: inherit;opacity: 1;" type="checkbox" id="0" onchange="selectAllBoxes(0)" /></th>
                                                        <th>Fees Month</th>
                                                        <th>Fees Type</th>
                                                        <th>Fees Amount</th>
                                                        <th>Discount Name</th>
                                                        <th>Discount Amount</th>
                                                        <th>Net Fees</th>
                                                        <th>Received Amount</th>
                                                        <th>Adjustment Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.FeesDetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input checked="checked" onchange="updateSelectedFees('@item.GenerateFeesId')"  style="position: inherit;opacity: 1;" type="checkbox" id="@item.GenerateFeesId" name="@item.GenerateFeesId" />
                                                            </td>
                                                            <td>
                                                                @item.FeesMonth
                                                            </td>
                                                            <td>@item.FeesTypeName</td>
                                                            <td>@item.FeesAmount</td>
                                                            <td>@item.DiscountName</td>
                                                            <td>@item.DiscountAmount</td>
                                                            <td>@item.NetFees</td>
                                                            <td>@item.ReceivedAmount</td>
                                                            <td>@item.AdjustmentAmount</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
else
{
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix demo-icon-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            @using (Html.BeginForm("SubmitFees", "FeesReceive", FormMethod.Post, new { @id = "feesReceiveForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)
                                    <div class="row body clearfix">
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="studentList" class="form-control" onchange="getStudentDetails()">
                                                        @foreach (var item in studentList)
                                                        {
                                                            <option value="@item.AdmissionId">@item.StudentName</option>
                                                        }
                                                    </select>
                                                    <label class="form-label">Students : </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input class="form-control datepicker" id="postDate" name="postDate" />
                                                    <label class="form-label">Post Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="fatherName" name="fatherName" />
                                                    <label class="form-label">Father Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="stageName" name="stageName" />
                                                    <label class="form-label">Stage</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="className" name="className" />
                                                    <label class="form-label">Class</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float  ">
                                                <div class="form-line">
                                                    <input class="form-control" readonly id="sectionName" name="sectionName" />
                                                    <label class="form-label">Section</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="postDate" id="postDate" value="@Model.PostDate" />
                                        <input type="hidden" name="sectionId" id="sectionId" value="@Model.SectionId" />
                                        <input type="hidden" name="classId" id="classId" value="@Model.ClassId" />
                                        <input type="hidden" name="stageId" id="stageId" value="@Model.StageId" />
                                        <input type="hidden" name="name" id="name" value="@Model.StudentName" />
                                        <input type="hidden" name="fname" id="fname" value="@Model.FatherName" />
                                        <input type="hidden" name="selectedFees" id="selectedFees" />
                                    </div>
                                    <div class="row body clearfix">
                                        <div class="col-sm-12">
                                            <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th><input class="checkbox" style="position: inherit;opacity: 1;" type="checkbox" id="0" onchange="selectAllBoxes(0)" /></th>
                                                        <th>Fees Month</th>
                                                        <th>Fees Type</th>
                                                        <th>Fees Amount</th>
                                                        <th>Discount Name</th>
                                                        <th>Discount Amount</th>
                                                        <th>Net Fees</th>
                                                        <th>Received Amount</th>
                                                        <th>Adjustment Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}

<script>
    function selectAllBoxes() {
        var TRs = $("#table tbody tr");
        var ids = '';
        if (!$('#0').is(":checked")) {
            $.each(TRs, function (id, tr) {
                $(tr).find('input').prop('checked', false);
            });
            $('#selectedFees').val('');
        } else {
            $.each(TRs, function (id, tr) {
                $(tr).find('input').prop('checked', true);
                if (ids == '')
                    ids = $(tr).find('input').attr('id');
                else
                    ids += ',' + $(tr).find('input').attr('id');
            });
            $('#selectedFees').val(ids);
        }
    }
    function updateSelectedFees(id) {
        var ids = $('#selectedFees').val();
        if ($('#' + id).is(":checked")) {
            if (id > 0) {
                if (ids == '')
                    ids = id;
                else
                    ids += ',' + id;
            }
            $('#selectedFees').val(ids);
        }
        else {
            var updatedList = [];
            $.each(ids.split(','), function (Stid, optionId) {
                if (optionId != id)
                    updatedList.push(optionId);
            });
            $('#selectedFees').val(updatedList);
        }
    }
    function getStudentDetails()
    {
        var selectedStudentId = $('#studentList').find(":selected").val();
        $.ajax({
            url: '@Url.Action("GetStudentDetails", "FeesReceive")',
            type: "GET",
            data: {
                "admissionId": selectedStudentId
            },
            success: function (result) {
                if (!result) {
                    $("#table tbody").html('');
                    $('#table tbody').append('<tr><td colspan="11" style="text-align: center;background: gainsboro;">No Records To Display</td></tr>');
                } else {
                    setFormFieldsValue(result);
                    $("#table tbody").html('');
                    $.each(result.FeesDetails, function (id, option) {
                        $('#table tbody').append('<tr><td><input class="checkbox" onchange="updateSelectedFees(' + option.GenerateFeesId + ')" style="position: inherit;opacity: 1;" type="checkbox" name="' + option.GenerateFeesId + '" id="' +
                            option.GenerateFeesId + '" /></td><td>' + option.FeesMonth + '</td><td>' + option.FeesTypeName + '</td><td>' + option.FeesAmount + '</td><td>' + option.DiscountName +
                            '</td><td>' + option.DiscountAmount + '</td><td>' + option.NetFees + '</td><td>' + option.ReceivedAmount + '</td><td>' + option.AdjustmentAmount + '</td></tr>');
                    });
                }
            },
            error: function (result) {
                alter(result);
                throw result;
            }
        });
    }
    function setFormFieldsValue(result) {
        $('#postDate').val(result.PostDate).trigger("focus");
        $('#sectionName').val(result.SectionName).trigger("focus");
        $('#className').val(result.ClassName).trigger("focus");
        $('#stageName').val(result.StageName).trigger("focus");
        $('#fatherName').val(result.FatherName).trigger("focus");
        $('.dtp').hide();
    }
</script>