@model OSS.Models.viewmodel.FeesReceiveCreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var studentList = (List<OSS.Models.viewmodel.FeesReceiveStudentViewModel>)ViewBag.StudentList;
    var studentId = int.Parse(ViewBag.StudentId.ToString());
    var feeIdsList = Model.FeesDetails != null ? Model.FeesDetails.Select(x => x.GenFeesDtlID.Value).ToList() : new List<int>();
}
@if (studentId > 0)
{
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix demo-icon-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            @using (Html.BeginForm("SubmitFees", "FeesReceive", FormMethod.Post, new { @id = "feesReceiveForm" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)
                                <div class="row body clearfix">
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <select disabled="disabled" id="studentList" class="form-control" onchange="getStudentDetails()">
                                                    @foreach (var item in studentList)
                                                    {
                                                        if (item.AdmissionId == studentId)
                                                        {
                                                            <option selected="selected" value="@item.AdmissionId">@item.StudentName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.AdmissionId">@item.StudentName</option>
                                                        }
                                                    }
                                                </select>
                                                <label class="form-label">Students : </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input disabled="disabled" class="form-control datepicker" value="@Model.PostDate" id="postDate" name="postDate" />
                                                <label class="form-label">Post Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float ">
                                            <div class="form-line">
                                                <input disabled="disabled" class="form-control" readonly id="fatherName" value="@Model.FatherName" name="fatherName" />
                                                <label class="form-label">Father Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float  ">
                                            <div class="form-line">
                                                <input disabled="disabled" class="form-control" readonly id="stageName" value="@Model.StageName" name="stageName" />
                                                <label class="form-label">Stage</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row body clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float  ">
                                            <div class="form-line">
                                                <input disabled="disabled" class="form-control" readonly id="className" value="@Model.ClassName" name="className" />
                                                <label class="form-label">Class</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float  ">
                                            <div class="form-line">
                                                <input disabled="disabled" class="form-control" readonly id="sectionName" value="@Model.SectionName" name="sectionName" />
                                                <label class="form-label">Section</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="admissionId" id="admissionId" value="@Model.AdmissionId" />
                                </div>
                                <div class="row body clearfix">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label>Total Discount : </label> <h5 id="lblTotalDiscount">0.0</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Total Adjustment : </label> <h5 id="lblTotalAdjustment">0.0</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Total Fees : </label> <h5 id="lblTotalFees">0.0</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Total Net Fees : </label> <h5 id="lblTotalNetFees">0.0</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row body clearfix" style="text-align:center;">
                                    <div class="col-sm-12">
                                        <a href="/FeesReceive/Create"><button style="width:10%;margin-right: 65px;" type="button" id="clearBtn" class="btn btn-info btn-sm waves-effect">New</button></a>
                                        <button id="btnsubmit" type="button"  style="width:10%;" onclick="fillDataBeforeSubmit();" class="btn btn-danger btn-sm waves-effect">Update</button>
                                    </div>
                                </div>
                                <div class="row body clearfix">
                                    <div class="col-sm-12">
                                        <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th><input checked="checked" class="checkbox" style="position: inherit;opacity: 1;" type="checkbox" id="0" onchange="selectAllBoxes(0)" /></th>
                                                    <th>Fees Month</th>
                                                    <th>Fees Type</th>
                                                    <th>Fees Amount</th>
                                                    <th>Discount Name</th>
                                                    <th>Discount Amount</th>
                                                    <th>Net Fees</th>
                                                    <th>Received Amount</th>
                                                    <th>Adjustment Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.FeesDetails)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input checked="checked" onchange="updateSelectedFees('@item.GenFeesDtlID')" style="position: inherit;opacity: 1;" type="checkbox" id="@item.GenFeesDtlID" name="@item.GenFeesDtlID" />
                                                        </td>
                                                        <td>
                                                            @item.FeesMonth
                                                        </td>
                                                        <td>@item.FeesTypeName</td>
                                                        <td>@item.FeesAmount</td>
                                                        <td>@item.DiscountName</td>
                                                        <td>@item.DiscountAmount</td>
                                                        <td>@item.NetFees</td>
                                                        <td>@item.ReceivedAmount</td>
                                                        <td class="editable">@item.AdjustmentAmount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
else
{
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix demo-icon-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            @using (Html.BeginForm("SubmitFees", "FeesReceive", FormMethod.Post, new { @id = "feesReceiveForm" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)
                                <div class="row body clearfix">
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <select id="studentList" class="form-control" onchange="getStudentDetails()">
                                                    @foreach (var item in studentList)
                                                    {
                                                        <option value="@item.AdmissionId">@item.StudentName</option>
                                                    }
                                                </select>
                                                <label class="form-label">Students : </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input class="form-control datepicker" id="postDate" name="postDate" />
                                                <label class="form-label">Post Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float ">
                                            <div class="form-line">
                                                <input class="form-control" readonly id="fatherName" name="fatherName" />
                                                <label class="form-label">Father Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float  ">
                                            <div class="form-line">
                                                <input class="form-control" readonly id="stageName" name="stageName" />
                                                <label class="form-label">Stage</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row body clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float  ">
                                            <div class="form-line">
                                                <input class="form-control" readonly id="className" name="className" />
                                                <label class="form-label">Class</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float  ">
                                            <div class="form-line">
                                                <input class="form-control" readonly id="sectionName" name="sectionName" />
                                                <label class="form-label">Section</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="postDate" id="postDate" value="@Model.PostDate" />
                                    <input type="hidden" name="sectionId" id="sectionId" value="@Model.SectionId" />
                                    <input type="hidden" name="classId" id="classId" value="@Model.ClassId" />
                                    <input type="hidden" name="stageId" id="stageId" value="@Model.StageId" />
                                    <input type="hidden" name="name" id="name" value="@Model.StudentName" />
                                    <input type="hidden" name="fname" id="fname" value="@Model.FatherName" />
                                    <input type="hidden" name="selectedFees" id="selectedFees" />
                                    <input type="hidden" name="selectedAdmissionId" id="selectedAdmissionId" value="@Model.AdmissionId" />
                                </div>
                                <div class="row body clearfix">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label>Total Discount : </label> <h5 id="lblTotalDiscount">0.0</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Total Adjustment : </label> <h5 id="lblTotalAdjustment">0.0</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Total Fees : </label> <h5 id="lblTotalFees">0.0</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Total Net Fees : </label> <h5 id="lblTotalNetFees">0.0</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row body clearfix" style="text-align:center;">
                                    <div class="col-sm-12">
                                        <a href="/FeesReceive/Create"><button style="width:10%;margin-right: 65px;" type="button" id="clearBtn" class="btn btn-info btn-sm waves-effect">New</button></a>
                                        <button id="btnsubmit" type="button" style="width:10%;" onclick="fillCreateDataBeforeSubmit();" class="btn btn-danger btn-sm waves-effect">Save</button>
                                    </div>
                                </div>
                                <div class="row body clearfix">
                                    <div class="col-sm-12">
                                        <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th><input class="checkbox" style="position: inherit;opacity: 1;" type="checkbox" id="0" onchange="selectAllBoxes(0)" /></th>
                                                    <th>Fees Month</th>
                                                    <th>Fees Type</th>
                                                    <th>Fees Amount</th>
                                                    <th>Discount Name</th>
                                                    <th>Discount Amount</th>
                                                    <th>Net Fees</th>
                                                    <th>Received Amount</th>
                                                    <th>Adjustment Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}

<script>
    $(function () {
        calculateNetFees();
        bindEditableInputs();
    });
    function bindEditableInputs() {
        $('#table').on('click', 'tbody td.editable', function (e) {
            $(this).attr("contentEditable", "true");
        });
        $('#table').on('blur', 'tbody td.editable', function (e) {
            var TRs = $("#table tbody tr");
            $(this).attr("contentEditable", "false");
            var totalAdjustment = 0;
            $.each(TRs, function (id, Tr) {
                var trValue = parseInt($(Tr).find('td').last().html());
                totalAdjustment += trValue;
            });
            debugger;
            $('#lblTotalAdjustment').html(totalAdjustment);
        });
    }
    function calculateNetFees() {
        var totalNetFees = 0;
        var totalDiscount = 0;
        var totalFees = 0;
        var totalAdjustment = 0;
        var TRs = $("#table tbody tr");
        $.each(TRs, function (id, Tr) {
            var trValue = parseInt($(Tr).find('td').last().html());
            totalAdjustment += trValue;
        });
        $.each(TRs, function (id, Tr) {
            var trValue = parseInt($(Tr).find('td').last().prev().prev().html());
            totalNetFees += trValue;
        });
        $.each(TRs, function (id, Tr) {
            var trValue = parseInt($(Tr).find('td').last().prev().prev().prev().html());
            totalDiscount += trValue;
        });
        $.each(TRs, function (id, Tr) {
            var trValue = parseInt($(Tr).find('td').first().next().next().next().html());
            totalFees += trValue;
        });
        $('#lblTotalNetFees').html(totalNetFees);
        $('#lblTotalDiscount').html(totalDiscount);
        $('#lblTotalFees').html(totalFees);
        $('#lblTotalAdjustment').html(totalAdjustment);
    }
    var feesReceiveTableResult = [];
    function selectAllBoxes() {
        var TRs = $("#table tbody tr");
        var ids = '';
        if (!$('#0').is(":checked")) {
            $.each(TRs, function (id, tr) {
                $(tr).find('input').prop('checked', false);
            });
            $('#selectedFees').val('');
        } else {
            $.each(TRs, function (id, tr) {
                $(tr).find('input').prop('checked', true);
                if (ids == '')
                    ids = $(tr).find('input').attr('id');
                else
                    ids += ',' + $(tr).find('input').attr('id');
            });
            $('#selectedFees').val(ids);
        }
    }
    function updateSelectedFees(id) {
        var ids = $('#selectedFees').val();
        if ($('#' + id).is(":checked")) {
            if (id > 0) {
                if (ids == '')
                    ids = id;
                else
                    ids += ',' + id;
            }
            $('#selectedFees').val(ids);
        }
        else {
            var updatedList = [];
            $.each(ids.split(','), function (Stid, optionId) {
                if (optionId != id)
                    updatedList.push(optionId);
            });
            $('#selectedFees').val(updatedList);
        }
    }
    function getStudentDetails()
    {
        var selectedStudentId = $('#studentList').find(":selected").val();
        $.ajax({
            url: '@Url.Action("GetStudentDetails", "FeesReceive")',
            type: "GET",
            data: {
                "admissionId": selectedStudentId
            },
            success: function (result) {
                if (!result) {
                    $("#table tbody").html('');
                    $('#table tbody').append('<tr><td colspan="11" style="text-align: center;background: gainsboro;">No Records To Display</td></tr>');
                } else {
                    feesReceiveTableResult = result;
                    setFormFieldsValue(result);
                    $("#table tbody").html('');
                    $.each(result.FeesDetails, function (id, option) {
                        $('#table tbody').append('<tr><td><input class="checkbox" onchange="updateSelectedFees(' + option.GenFeesDtlID + ')" style="position: inherit;opacity: 1;" type="checkbox" name="' + option.GenFeesDtlID + '" id="' +
                            option.GenFeesDtlID + '" /></td><td>' + option.FeesMonth + '</td><td>' + option.FeesTypeName + '</td><td>' + option.FeesAmount + '</td><td>' + option.DiscountName +
                            '</td><td>' + option.DiscountAmount + '</td><td>' + option.NetFees + '</td><td>' + option.ReceivedAmount + '</td><td class="editable">' + option.AdjustmentAmount + '</td></tr>');
                    });
                    calculateNetFees();
                    bindEditableInputs();
                    $('#selectedAdmissionId').val(result.AdmissionId);
                }
            },
            error: function (result) {
                alter(result);
                throw result;
            }
        });
    }
    function setFormFieldsValue(result) {
        $('#postDate').val(result.PostDate).trigger("focus");
        $('#sectionName').val(result.SectionName).trigger("focus");
        $('#className').val(result.ClassName).trigger("focus");
        $('#stageName').val(result.StageName).trigger("focus");
        $('#fatherName').val(result.FatherName).trigger("focus");
        $('.dtp').hide();
    }
    function fillDataBeforeSubmit() {
        var feesReceiveGridSelectedItems = [];  
        var TRs = $("#table tbody tr");
        $.each(TRs, function (id, tr) {
            if ($(tr).find('input').is(":checked")) {
                var generateFeesDtlId = parseInt($(tr).find('input').attr('name'));
                var adjustmentAmount = parseInt($(tr).find('td').last().html());
                var receiveAmount = parseInt($(tr).find('td').last().prev().html());
                var netfees = parseInt($(tr).find('td').last().prev().prev().html());
                feesReceiveGridSelectedItems.push(generateFeesDtlId + ',' + adjustmentAmount + ',' + receiveAmount + ',' + netfees);
            }
        });
        var feeReceiveSubmitData = {
            feesList: feesReceiveGridSelectedItems.join('|'),
            TotalAdjustmentAmount: parseInt($('#lblTotalAdjustment').html()),
            TotalDiscount: parseInt($('#lblTotalDiscount').html()),
            TotalFees: parseInt($('#lblTotalFees').html()),
            TotalNetFees: parseInt($('#lblTotalNetFees').html()),
            admissionId: $('#admissionId').val(),
            postDate: $('#postDate').val(),
        };
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
        $.ajax({
            url: '/feesReceive/create?id=' + id,
            type: "POST",
            data: feeReceiveSubmitData,
            success: function (result) {
                if (result == "Done") {
                    window.location.href = "/feesreceive/index";
                } else {
                    alert(result);
                }
            },
            error: function (result) {
                debugger;
                console.log(result);
                alert("Error");
            }
        });
    }
    function fillCreateDataBeforeSubmit() {
        var feesReceiveGridSelectedItems = [];
        var TRs = $("#table tbody tr");
        $.each(TRs, function (id, tr) {
            if ($(tr).find('input').is(":checked")) {
                var generateFeesDtlId = parseInt($(tr).find('input').attr('name'));
                var adjustmentAmount = parseInt($(tr).find('td').last().html());
                var receiveAmount = parseInt($(tr).find('td').last().prev().html());
                var netfees = parseInt($(tr).find('td').last().prev().prev().html());
                feesReceiveGridSelectedItems.push(generateFeesDtlId + ',' + adjustmentAmount + ',' + receiveAmount + ',' + netfees);
            }
        });
        var feeReceiveSubmitData = {
            feesList: feesReceiveGridSelectedItems.join('|'),
            TotalAdjustmentAmount: parseInt($('#lblTotalAdjustment').html()),
            TotalDiscount: parseInt($('#lblTotalDiscount').html()),
            TotalFees: parseInt($('#lblTotalFees').html()),
            TotalNetFees: parseInt($('#lblTotalNetFees').html()),
            AdmissionId: $('#selectedAdmissionId').val(),
            PostDate: $('#postDate').val(),
        };
        $.ajax({
            url: '/feesReceive/create',
            type: "POST",
            data: feeReceiveSubmitData,
            success: function (result) {
                if (result == "Done") {
                    window.location.href = "/feesreceive/index";
                } else {
                    alert(result);
                }
            },
            error: function (result) {
                debugger;
                console.log(result);
                alert("Error");
            }
        });
    }
</script>