@model OSS.Models.viewmodel.FeeVoucherReportModel
    @{
        Layout = null;
     }
<style>
    h4 {
        color: blue;
    }
</style>
<div class="main container" style="width:100%">
    <div id="jamia">
        <div class="school row clearfix body">
            <div class="col-sm-12">
                <div class="logo col-sm-2">
                    <img class="logo-print" src="@Model.SchoolLogoUrl" width="80" />
                </div>
                <div class="col-sm-10">
                    <h4><p>@Model.SchoolName</p></h4>
                    <h5><p>@Model.SchoolAddress</p></h5>
                    <h5><p>@Model.SchoolPhone</p></h5>
                </div>
            </div>
        </div>
        <div class="student row clearfix body">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            Issue Date : @DateTime.Now.ToString(OSS.Models.portalutilities.DateTimeFormat)
                        </div>
                        <div class="col-sm-6">
                            G.R No : @Model.GrNo
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            Student Name : @Model.StudentName
                        </div>
                        <div class="col-sm-6">
                            Father Name : @Model.StudentFatherName
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            Class : @Model.ClassName
                        </div>
                        <div class="col-sm-6">
                            Section : @Model.SectionName
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            Roll Number : @Model.RollNumber
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feeList">

        </div>
    </div>
</div>
